@model PaczkaWRuchuTestWebApp.Models.GenerateLabelSummaryViewModel

@{
    ViewBag.Title = "Etykieta";
}

@using (Html.BeginForm("Download", "GenerateLabel", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.HiddenFor(model => model.LabelData)

        <h4>Pobierz etykietę</h4>
        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Pobierz etykietę" class="btn btn-success" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Powrót do wyboru miasta", "Index", "FindPickupPoint")
</div>